.entity-debugger{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: darkcyan;
    // height: 200px;

    .entries {
        display: flex;

        .sub-entry {
            display: flex;
            background-color: green;
        }
    }
}