.entity-debugger{
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    color: white;
    background-color: darkcyan;
    // height: 200px;

    .entries {
        display: flex;

        .sub-entry {
            display: flex;
            flex-wrap: wrap;
            background-color: green;
            overflow-y: scroll;
        }
    }

    .arrive-target {
        font-size: 8px;
    }
}